@font-face {
    font-family: "Minecraft";
    src: url("../fonts/minecraft/minecraft.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-style: normal;
}
