body {
  background: rgb(0, 0, 0);
  margin: 0 auto;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width:90%;

}

h2{
  font-family: "Montserrat";
  margin:0;
  font-size: calc(1vw + 1em);
  color: #C5C5C5;
}
h3{
  font-family: "Montserrat";
  margin:0;
  font-size: calc(1vw + 1em);
  color: #C5C5C5;
  padding: 1%;
}
p {
  font-family: "Montserrat";
  color: #C5C5C5;
  margin: 0;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  position: relative;
  z-index: 1;
}

body::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #FF9900;
}

.logo {
  width: 5em;
  height: 5em;
  max-width: 70px;
  max-height: 70px;
}

.menu {
  display: flex;
  list-style: none;

}

nav li {
  font-family: "Montserrat bold";
  margin: auto 1rem;
  font-size: calc(1vw + 1em);
}
ul{
  list-style-type: none;

}
a {
  text-decoration: none;
  color: #C5C5C5;
}
.text-box{
  text-align: justify;
  transition: all 0.3s;
  background-color: #171615;
  min-width: 300px;
  font-size: calc(1vw + 1em);
  padding: 1%;

}
.text-main {
  width:40%; 
}

.container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.container article{
  margin: 5px 0;
}

.container article:nth-child(odd){
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;

}
.container article:nth-child(even){
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
}
article{
  display: flex;
  align-items: center;
}
.main_img {
  width: 50%;
  object-fit: contain;
}
.icon{
  height: 30px;
  width: 30px;
  object-fit: contain;
  padding: 0 1%;
}
.text-box:first-child::first-letter {
  float: left;
  font-family: "Montserrat bold";
  font-size: calc(2vw + 2em);
  line-height: 1;
  color: #FF9900;
  margin-right: 0.3rem;
  text-shadow: 0.3vw 0.3vw #C5C5C5;
}

header {
  background: black;
  background-size: cover;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vw;
  width:100%;
}
footer{
  font-size: calc(1vw + 1em);
}
#ds {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}
#avatar{
  display: flex;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;


}
#login{
  display: block;
}
@media screen and (max-width: 1000px){
  .menu{
    display:none;
  }
  footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
}