

body {
    background: rgb(21, 18, 18);
    margin: 0 auto;
}

.up {
    height: 450px;
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.bg-fon {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgba(21, 18, 18, 1));
    display:flex;
    flex-direction: column-reverse;
}



.logo {
    width: 70px;
    height: 70px;
}

.caption {
    font-family: "Capitalis";
    color: #C5C5C5;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 42px;
    padding: 5px;
    margin: 0;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social a {
    padding: 5px;
    width: 60px;
    height: 60px;

}

.social a img {
    width: 40px;
    height: 40px;
}

.ads {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    margin:15px;
    width:75%;
    color:white;
}